.main-container{
    left: 25%;
    width: 50%;
    height: fit-content;
    padding-bottom: 1.5%;
}

.horizontal{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-left: 5%;
    margin-top: 5%;
    width: 100%;
}

.poster{
    height: 45vh;
    width: 30vh;
    object-fit: contain;
    background-color: var(--accent-color);
    border-radius: 12px;
    border: 1px solid var(--tertiary-color);
}

.poster:hover{
    opacity: 80%;
    cursor: pointer;
}

.parallel{
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: fit-content;
}

.title{
    font-weight: bold;
    font-size: 30px;
    color: var(--tertiary-color);
    margin: 4%;
}

.poster-container{
    margin: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.subtitle{
    font-weight: bold;
    font-size: 18px;
    color: var(--secondary-color);
}

p{
    color: var(--tertiary-color);
    margin: 10px;
}

.text-box{
    display: flex;
    margin-left: 4%;
}

.desc-box{
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}