.container{
    position: relative;
    height: 471px;
    width: 380px;
    margin: 1vh 1vw 1vh 1vw;
    border-radius: 12px;
    background-color: var(--secondary-color);
    border: 2px solid var(--tertiary-color);
}

.back-poster{
    display: block;
    position: absolute;
   
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.passive-icon{
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 5;
}

.active-icon{
    margin-left: 20px;
}

.gradient{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;

    background-image: url('/assets/posters/example-poster.jpg');
    background-position:top;
    background-size:contain;
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, black 80%, black 100%);
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, black 80%, black 100%);
    /* background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, var(--secondary-color) 70%, var(--secondary-color) 10%); */
}

.interaction-container{
    position:absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.whole-container{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.fields-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
}
.button-container{
    position: absolute;
    z-index: 6;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    bottom: 2%;
}

.title-container{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.info-container{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.info-container-description{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.align-column{
    flex-direction: column;
    align-items: flex-start;
}

p{
    margin: 5px;
}

.subtitle{
    font-weight: bold;
    color: var(--tertiary-color);
}

.title{
    color: var(--tertiary-color);
    font-size: 24px;
    font-weight: bold;
    margin:0;
}