.alert-container{
    position: absolute;
    z-index: 10;
    padding: 1%;
    width: 30%;
    height: fit-content;
    left: 35%;
    top: 5%;
}

.title-container{
    display: flex;
    justify-content: center;
}