<div class="container" (mouseenter)="toggleInfo()" (mouseleave)="toggleInfo()">
    <div class="interaction-container">
        <p class="title" *ngIf="hovering=='out'" @hovering-title>
            {{event?.name}}
        </p>
        <mat-icon *ngIf="hovering=='hovering' " class="active-icon info-icon" @hovering-info (click)="event_out()">info</mat-icon>
        <mat-icon *ngIf="hovering=='hovering' && purpose=='own'"  class="active-icon action-icon" @hovering-action (click)="remove()">delete</mat-icon>
        <mat-icon *ngIf="hovering=='hovering' && purpose=='partecipation'"  class="active-icon action-icon" @hovering-action (click)="unsubscribe()">person_remove</mat-icon>
    </div>
    <div *ngIf="hovering=='hovering'" @hovering class="gradient"></div>

</div>
