<div class="main-container" [@slide]="filterClicked" class="main-container" id="container">
    <div class="title-container">
        <p class="title">Filtri</p>
        <mat-icon class="active-icon" (click)="onClick()" >filter_list</mat-icon>
        
        
    </div>
    <div class="event-container">
        <form [formGroup]="filterForm" (ngSubmit)="submitFilters()" class="filter-container">
            <div class="field-div">
                
                <label for="type" class="field-label"> Tipo </label>
                <select name="selection" id="type" formControlName="type" class="field-input" placeholder="">
                    <option *ngFor="let t of types">{{t}}</option>
                </select>
            </div>
            
            <div class="field-div">
               
                <label for="target" class="field-label">fascia d'età</label>
                <select name="selection" id="target" formControlName="target" class="field-input">
                    <option *ngFor="let t of targets" [value]="t">{{t}}</option>
                </select>
            </div>

            <div class="field-div" >
                
                <label for="startDate" class="field-label"> Data di inizio </label>
                <input type="date" id="startDate" formControlName="startDate" class="field-input">
            </div>

            <div class="field-div">
                <label for="endDate" class="field-label">Data di fine</label>
                <input type="date" id="endDate" formControlName="endDate" class="field-input"   >
            </div>
            
            <div class="field-div">
                <label for="budget" class="field-label">budget</label>
                <input type="range" min="0" max="1000" value="0" id="budget" formControlName="endDate" class="field-input"   >
            </div>

            <button type="submit" class="button2">Conferma</button>
            <button class="button1" (click)="resetFilter()">reset</button>
        </form>
        
        
    </div>
</div>

