.main-container{
    height: 85vh;
    width: 540px;
    position: absolute;
    z-index: 2;
    top: 4%;
    background-color: var(--primary-color);
    border-radius: 8px;
    border: 3px solid var(--tertiary-color);
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 0px -3px rgba(0,0,0,0.42);
}   


.event-container{
    height: 100%;
}

.title-container{
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 20px;
    color: var(--tertiary-color);
    font-weight: bold;
    margin: 0;
}

.filter-button{
    position: absolute;
    right: 0px;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border-radius: 5px;
    margin: 12px;
}

.icon{
    color: var(--tertiary-color);
    margin: 0;
    height: 30px;
    width: 30px;
    font-size: 30px;
    font-weight: bold;
}

.filter-container{
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.field-div{
    display: flex;
    margin: 10px;
    
    
    height: 50px;
    width: 300px; 
    position: relative;
    overflow: visible;
}

.field-div-selected{
    border: 3px solid var(--accent-color);
}

.field-label{
    color: var(--tertiary-color);
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: var(--primary-color);
    padding-left: 5px;
    padding-right: 5px;
}

.field-input{
    border-radius: 5px;
    border: 3px solid var(--secondary-color);
    background-color: transparent;
    width: 100%;
    color: var(--tertiary-color);
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    outline:none;
}

.field-input:focus, .field-input:active{
    border: 3px solid var(--accent-color);
}


