
  
  <div class="background" >
    <div @goDark *ngIf="this.filter?.filterClicked=='open' ||  this.menu?.slideToggle == 'open' || this.personal?.slideToggle == 'open' || this.eventInfo?.isOpen == 'open'" class="shield" (click)="clickOut()"></div>
    <!-- <div @goDark *ngIf="this.filter?.filterClicked=='open'" class="shield" (click)="clickOut()"></div> -->
    <app-topbar (filter_out)="onName($event)" (menu_out)="toggleMenu()"></app-topbar>
    <div class="app-container">
      <app-menu #menu ></app-menu>
      <app-filter-sidebar #filters (filter_out)="onFilter($event)" (click_out)="onClick()"></app-filter-sidebar>
      <app-personal-area-sidebar (eventInfo)="moreInfo($event)" #personal></app-personal-area-sidebar>
      <app-event-page #eventInfo></app-event-page>
      <app-event-container #events (event_out)="moreInfo($event) "></app-event-container>
      <app-event-create #create></app-event-create>
      <!-- add ngswitch for requests -->
    </div>
  </div>
  


