<div class="main_div left-div">
    <div class="sub-div">
        <p class="element" >logo unitn</p>
        <button class="element button1" >come funziona? </button>
    </div>
    <div class="sub-div center-div">
        <div style="display: flex;" class="search-container">
            <mat-icon class="search-icon">search</mat-icon>
            <input class="search-bar" placeholder="Cerca.." type="text">
        </div>
        
    </div>
    <div class="sub-div right-div">
        <button class="element button2">richieste</button>
        <p class="element">icona profilo</p>
    </div>
    
    
    
</div>
