.active-icon{
    position: absolute;
    right: 12px;
    top: 12px;
}

.main-container{
    left:35%;
    width: 30%;
}

.title-container{
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 20px;
    color: var(--tertiary-color);
    font-weight: bold;
    margin: 0;
}