.main-container{
    right: 5px;
}

.active-icon{
    position: absolute;
    left: 12px;
    top: 12px;
}

.title-container{
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-button{
    position: absolute;
    left: 0px;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border-radius: 5px;
    margin: 12px;
}

.icon{
    color: var(--tertiary-color);
    margin: 0;
    height: 30px;
    width: 30px;
    font-size: 30px;
    font-weight: bold;
}

.title{
    font-size: 20px;
    color: var(--tertiary-color);
    font-weight: bold;
    margin: 0;
}