<div class = "main-container" [@slide]="slideToggle">
    <div class="title-container">
        <p class="title">Area Personale</p>
        <mat-icon class="active-icon" (click)="onClick()">calendar_today</mat-icon>
    </div>
    <div class="list-container">
        <div class="list">
            <p class="subtitle">Eventi a cui partecipi</p>
            <app-eventcard-reduced *ngFor="let e of mySubs" [event]="e" class="card" [purpose]="'partecipation'" ></app-eventcard-reduced>
        </div>
        
        <div class="list">
            <p class="subtitle">I tuoi eventi</p>
            <div class="myEventsContainer">
                <app-eventcard-reduced *ngFor="let e of myEvents" [event]="e" class="card" [purpose]="'own'" [type]="'event'"></app-eventcard-reduced>
                <p class="simpletext">(drafts)</p>
                <app-eventcard-reduced *ngFor="let e of myDrafts" [event]="e" class="card" [purpose]="'own'" [type]="'draft'"></app-eventcard-reduced>
            </div>
            
        </div>
            
        
    </div>
            
  
            
     
    
    <button *ngIf="openCreateMenu=='open'" class="create-event button2" (click)="eventCreate.emit(); openMenu()" [@popup]="openCreateMenu">Crea Evento</button>
    
    <button class="createEventButton" (click)="openMenu()">
        <div class="cross-container">
            <div class="cross-vertical" [@create]="openCreateMenu"></div>
            <div class="cross-horizontal" [@create]="openCreateMenu"></div>
        </div>
        
    </button>
    
    <div class="white-space"></div>
    
</div>
